.eye {
    position: relative;
}

.form-control {
    width: 100%;
    padding-right: 2.5rem;
}

#togglePassword {
    position: absolute;
    top: 72%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}
