<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>


<!--Assessment Add Modal-->
<button
  type="button"
  class="btn btn-primary"
  data-bs-target="#assessment_add"
  data-bs-toggle="modal"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-plus-lg"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
    />
  </svg>
</button>

<!-- Add Modal -->
<div
  class="modal fade"
  id="assessment_add"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="assessmentAddModalLabel"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="assessmentAddModalLabel">
          User Assessment Add Modal
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('insert.insertAssessmentData')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="row row-col-auto">
            <div class="col-12">
              <h5 class="py-3">Matching Applicant ID</h5>
              <div class="row applicant_id">
                <div class="mb-3">
                  <label for="applicant_id" class="form-label"
                    >Applicant ID</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="applicant_id"
                    name="applicant_id"
                    aria-describedby="firstNameHelp"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <h5 class="py-3">Examination Details</h5>
              <div class="row date_exam">
                <div class="mb-3">
                  <label for="date_exam" class="form-label"
                    >Date of Examination</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="date_exam"
                    name="date_exam"
                    aria-describedby="dateExamHelp"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <div class="row date_notified">
                <div class="mb-3">
                  <label for="date_notified" class="form-label"
                    >Date of Notification</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="date_notified"
                    name="date_notified"
                    aria-describedby="dateNotifiedHelp"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <div class="row venue_address py-2">
                <div class="">
                  <div class="input-group mb-3 venue_address">
                    <label class="input-group-text" for="venue_address"
                      >Venue Address (Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="venue_address_assessment"
                      name="venue_address_assessment"
                      aria-describedby="venueAddressHelp"
                      autocomplete="off"
                    />
                  </div>
                </div>
              </div>
              <div class="row exam_venue py-2">
                <div class="">
                  <div class="input-group mb-3 exam_venue">
                    <label class="input-group-text" for="exam_venue"
                      >Exam Venue</label
                    >
                    <select
                      class="form-select"
                      id="exam_venue"
                      name="exam_venue"
                      autocomplete="off"
                      required
                    >
                      <option selected></option>
                      <option value="isabela">Isabela</option>
                      <option value="cagayan">Cagayan</option>
                      <option value="batanes">Batanes</option>
                      <option value="nueva vizcaya">Nueva Vizcaya</option>
                      <option value="quirino">Quirino</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row proctor">
                <div class="mb-3">
                  <label for="proctor" class="form-label">Proctor</label>
                  <input
                    type="text"
                    class="form-control"
                    id="proctor"
                    name="proctor"
                    aria-describedby="proctorHelp"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <div class="row status py-2">
                <div class="">
                  <div class="input-group mb-3 status">
                    <label class="input-group-text" for="status">Status</label>
                    <select
                      class="form-select"
                      id="status"
                      name="status"
                      autocomplete="off"
                      required
                    >
                      <option selected></option>
                      <option value="Passed">Passed</option>
                      <option value="Failed">Failed</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row remarks py-2">
                <div class="">
                  <div class="input-group mb-3 remarks">

                    <div class="form-floating">
                      <textarea class="form-control" placeholder="Remarks" id="remarks" name="remarks" style="height: 10rem;"></textarea>
                      <label for="floatingTextarea">Remarks</label>
                    </div>
                  </div>
                </div>
              </div>

              <h5 class="py-3">Score Details</h5>
              <div class="row assessment_score">
                <div class="mb-3">
                  <label for="assessment_score" class="form-label"
                    >Assessment Score</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="assessment_score"
                    name="assessment_score"
                    aria-describedby="assessmentScoreHelp"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script
  type="text/javascript"
  src="{{url_for('static',filename='js/handson-date_exam.js')}}"
></script>
<script
  type="text/javascript"
  src="{{url_for('static',filename='js/handson-date_notified.js')}}"
></script>
