<!--Diagnostic Add Modal-->
<button
  type="button"
  class="btn btn-primary"
  data-bs-target="#diagnostic_add"
  data-bs-toggle="modal"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-plus-lg"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
    />
  </svg>
</button>

<!-- Add Modal -->
<div
  class="modal fade"
  id="diagnostic_add"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="diagnosticAddModalLabel"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="diagnosticAddModalLabel">
          Diagnostic Add Modal
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body"
        x-data="{ part_one: '', part_two: '', part_three:'' }"
      >
        <form
          action="{{url_for('insert.insertDiagnosticData')}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="row">
            <div class="col-6 left-side">
              <h5 class="py-3">Personal Information</h5>
              <div class="row first_name">
                <div class="mb-3">
                  <label for="first_name" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    name="first_name"
                    aria-describedby="firstNameHelp"
                    required
                  />
                </div>
              </div>
              <div class="row middle_name">
                <div class="mb-3">
                  <label for="middle_name" class="form-label"
                    >Middle Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="middle_name"
                    name="middle_name"
                    aria-describedby="middleNameHelp"
                    required
                  />
                </div>
              </div>
              <div class="row last_name">
                <div class="mb-3">
                  <label for="last_name" class="form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="last_name"
                    name="last_name"
                    aria-describedby="lastNameHelp"
                    required
                  />
                </div>
              </div>
              <div class="row sex py-2">
                <div class="">
                  <div class="input-group mb-3 sex">
                    <label class="input-group-text" for="sex">Sex</label>
                    <select class="form-select" id="sex" name="sex" required>
                      <option selected></option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row province py-2">
                <div class="">
                  <div class="input-group mb-3 province">
                    <label class="input-group-text" for="province"
                      >Province</label
                    >
                    <select
                      class="form-select"
                      id="province"
                      name="province"
                      required
                    >
                      <option selected></option>
                      <option value="isabela">Isabela</option>
                      <option value="cagayan">Cagayan</option>
                      <option value="batanes">Batanes</option>
                      <option value="nueva_vizcaya">Nueva Vizcaya</option>
                      <option value="quirino">Quirino</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row contact_number">
                <div class="mb-3">
                  <label for="contact_number" class="form-label"
                    >Contact Number</label
                  >
                  <input
                    type="tel"
                    class="form-control"
                    id="contact_number"
                    name="contact_number"
                    pattern="^(\+63|0)(9\d{9}|[2-8]\d{7})$"
                    required
                    aria-describedby="contactNumberHelp"
                  />
                </div>
              </div>
              <div class="row email_address">
                <div class="mb-3">
                  <label for="email_address" class="form-label"
                    >Email Address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email_address"
                    name="email_address"
                    aria-describedby="emailAddressHelp"
                    required
                  />
                </div>
              </div>
              <div class="row py-2 applicant_attachment">
                <div class="col">
                  <h5 class="py-3">Applicant Attachment</h5>
                  <div class="input-group mb-3">
                    <input
                      type="file"
                      class="form-control"
                      id="applicant_attachment"
                      name="applicant_attachment"
                      accept=".pdf"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 right-side">
              <h5 class="py-3">Examination Details</h5>
              <div class="row date_exam">
                <div class="mb-3">
                  <label for="date_exam" class="form-label"
                    >Date of Examination</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="date_exam"
                    name="date_exam"
                    aria-describedby="dateExamHelp"
                    required
                  />
                </div>
              </div>
              <div class="row date_notified">
                <div class="mb-3">
                  <label for="date_notified" class="form-label"
                    >Date of Notification</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="date_notified"
                    name="date_notified"
                    aria-describedby="dateNotifiedHelp"
                    required
                  />
                </div>
              </div>
              <div class="row exam_venue py-2">
                <div class="">
                  <div class="input-group mb-3 exam_venue">
                    <label class="input-group-text" for="exam_venue"
                      >Exam Venue</label
                    >
                    <select
                      class="form-select"
                      id="exam_venue"
                      name="exam_venue"
                      required
                    >
                      <option selected></option>
                      <option value="CSU Gymnasium">CSU Gymnasium</option>
                      <option value="Quirino Theater">Quirino Theater</option>
                      <option value="Isabela Hall A">Isabela Hall A</option>
                      <option value="Nueva Vizcaya Hall B">
                        Nueva Vizcaya Hall B
                      </option>
                      <option value="Batanes Hall C">Batanes Hall C</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row proctor">
                <div class="mb-3">
                  <label for="proctor" class="form-label">Proctor</label>
                  <input
                    type="text"
                    class="form-control"
                    id="proctor"
                    name="proctor"
                    aria-describedby="proctorHelp"
                    required
                  />
                </div>
              </div>
              <div class="row status py-2">
                <div class="">
                  <div class="input-group mb-3 status">
                    <label class="input-group-text" for="status">Status</label>
                    <select
                      class="form-select"
                      id="status"
                      name="status"
                      required
                    >
                      <option selected></option>
                      <option value="Passed">Passed</option>
                      <option value="Failed">Failed</option>
                    </select>
                  </div>
                </div>
              </div>
              <h5 class="py-3">Score Details</h5>
              <div class="row part_one_score">
                <div class="mb-3">
                  <label for="part_one_score" class="form-label"
                    >Part I Score</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="part_one_score"
                    name="part_one_score"
                    min="0"
                    x-model.number="part_one"
                    aria-describedby="partOneScoreHelp"
                    required
                  />
                </div>
              </div>
              <div class="row part_two_score">
                <div class="mb-3">
                  <label for="part_two_score" class="form-label"
                    >Part II Score</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="part_two_score"
                    name="part_two_score"
                    min="0"
                    x-model.number="part_two"
                    aria-describedby="partTwoScoreHelp"
                    required
                  />
                </div>
              </div>
              <div class="row part_three_score">
                <div class="mb-3">
                  <label for="part_three_score" class="form-label"
                    >Part III Score</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="part_three_score"
                    name="part_three_score"
                    min="0"
                    x-model.number="part_three"
                    aria-describedby="partThreeScoreHelp"
                    required
                  />
                </div>
              </div>
              <div class="row total_score">
                <div class="mb-3">
                  <label for="total_score" class="form-label"
                    >Total Score</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="total_score"
                    name="total_score"
                    aria-describedby="totalScoreHelp"
                    readonly="true"
                    x-bind:value="(part_one + part_two + part_three)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script
  type="text/javascript"
  src="{{url_for('static',filename='js/diagnostic-date_exam.js')}}"
></script>
<script
  type="text/javascript"
  src="{{url_for('static',filename='js/diagnostic-date_notified.js')}}"
></script>
