{%block diagnosticAddModal%}
<!--Diagnostic Add Modal-->
<button
  type="button"
  class="btn btn-primary"
  data-bs-target="#diagnostic_add"
  data-bs-toggle="modal"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-plus-lg"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
    />
  </svg>
</button>

<!-- Add Modal -->
<div
  class="modal fade"
  id="diagnostic_add"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="diagnosticAddModalLabel"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="diagnosticAddModalLabel">
          Diagnostic Add Modal
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Testing the Diagnostic Add Modal</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
