{% extends "base.html" %} {% block title %} Dashboard{% endblock %} {%block
content%} {%block stylesheet%}
<link
    rel="stylesheet"
    href="{{url_for('static',filename='css/dashboard-style.css')}}"
/>
{%endblock%}
<!-- Tab Headers-->
<div class="row my-3">
    <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/"
                    >Diagnostic Summary</a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Handson Summary</a>
            </li>
        </ul>
    </div>
</div>
<!-- Handson Filters-->
<div class="row justify-content-start">
    <div class="col-4 date-filter">
        <label class="py-2 fw-semibold"> Filter for Exam Date</label>
        <!--Filter Exam Date-->
        <div class="input-group">
            <input
                type="text"
                class="form-control fw-semibold rounded"
                placeholder="Exam date"
                id="filter_date_exam"
                name="filter_date_exam"
            />
        </div>
    </div>
    <div class="col-4 date-filter">
        <label class="py-2 fw-semibold"> Filter for Notified Date</label>
        <!--Filter Exam Date-->
        <div class="input-group">
            <input
                type="text"
                class="form-control fw-semibold rounded"
                placeholder="Notification date"
                id="filter_date_notif"
                name="filter_date_notif"
            />
        </div>
    </div>
</div>
<!-- Handson Card Summary-->
<div class="row card-summary">
    <div class="col-4 my-4 total-applicants">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Applicants</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Some Number
                </h6>
            </div>
        </div>
    </div>
    <div class="col-4 my-4 passed-summary">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Passed Summary</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Some Number
                </h6>
            </div>
        </div>
    </div>
    <div class="col-4 my-4 failed-summary">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Failed Summary</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Some Number
                </h6>
            </div>
        </div>
    </div>
</div>

<!--Charts & Graphs-->
<div class="row row-col-auto charts">
    <!-- Handson Pie Chart-->
    <div class="col-6 handsonPieChart">
        <div>
            <canvas id="handsonPieChart"></canvas>
        </div>
    </div>
    <!-- Handson Bar Chart-->
    <div class="col-6 handsonBarChart">
        <div>
            <canvas id="handsonBarChart"></canvas>
        </div>
    </div>
</div>

{% block customScripts%}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="{{url_for('static',filename='js/handson-pieChart.js')}}"></script>
<script src="{{url_for('static',filename='js/handson-barChart.js')}}"></script>

{%endblock%} {%endblock%}
