{% extends "base.html" %} {% block title %} Handson Result Table {% endblock %}
{%block content%} {%block stylesheet%}<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/table-style.css') }}"
/>
{%endblock%} {% with messages = get_flashed_messages(with_categories=true,
category_filter=["handson_error", "handson_success"]) %} {% if messages %} {%
for category, message in messages %} {% if category == 'handson_error' %}
<div class="alert alert-danger" role="alert">Error: {{ message }}</div>
{% elif category == 'handson_success' %}
<div class="alert alert-success" role="alert">Success: {{ message }}</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}
<!--Search Bar-->
<div class="row row-col-2 align-items-center pb-4">
  <div class="col-6">
    <form
      class="form-inline my-2 my-lg-0 d-flex gap-2 header-buttons align-items-center justify-content-start"
      id="handson_table_submit"
      action="{{url_for('search.searchHandson')}}"
      method="POST"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input
        class="form-control mr-sm-2 search"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="handson_table_input"
        name="handson_table_input"
      />
      <button
        class="btn btn-outline-success my-sm-0"
        type="submit"
        id="handson_table_submit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </form>
  </div>

  <div class="col-6 d-flex justify-content-end gap-2 header-buttons">
    {% include "handson_table_modals/add_modal.html"%} {% include
    "handson_table_modals/clear_modal.html" %}
  </div>
</div>
<!--Tab Headers-->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="assessment_table"> Assessment Results</a>
    </li>
    <li class="nav-item">
        <a
        class="nav-link"
        aria-current="page"
        href="diagnostic_table"
        >Diagnostic Results</a
        >
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="handson_table">
        Hands-On Results</a
        >
    </li>
</ul>
<!--Mobile Filters-->
{% include "mobile-filters-handson.html"%}

<!--Main Table-->
<div class="table-responsive my-2">
  <table class="table table-striped">
      <form action="{{url_for('filter.applyFilterHandson')}}" method="POST" id="filter-handson-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <thead>
            <tr class="table-primary">
              <th scope="col">
                  <button
                    type="submit"
                    form="filter-handson-form"
                    class="btn btn-primary float-end"
                  >
                    Apply Filters
                  </button>
              </th>
              <th scope="col" colspan="2">
                <!--Sorting Only-->
                <select
                  class="form-select fw-semibold"
                  aria-label="Default ID"
                  style="min-width: 140px"
                  name="sort_option"
                  id="sort_option"
                >
                  <option value="">Sort Options</option>
                  <option value="oldest_id" {% if request.form.get('sort_option') == 'oldest_id' %}selected{% endif %}>Oldest ID</option>
                  <option value="asc_name" {% if request.form.get('sort_option') == 'asc_name' %}selected{% endif %}>Sort A to Z</option>
                  <option value="desc_name" {% if request.form.get('sort_option') == 'desc_name' %}selected{% endif %}>Sort Z to A</option>
                </select>
              </th>
              <th scope="col">
                <!--Sort Sex-->
                <select
                  class="form-select fw-semibold"
                  aria-label="Default Sex order"
                  style="min-width: 75px"
                  name="sort_sex"
                >
                  <option value="">Sex</option>
                  <option value="male"  {% if request.form.get('sort_sex') == 'male' %}selected{% endif %}>Male</option>
                  <option value="female" {% if request.form.get('sort_sex') == 'female' %}selected{% endif %}>Female</option>
                </select>
              </th>
              <th scope="col">
                <!--Sort Province-->
                <select
                  class="form-select fw-semibold"
                  aria-label="Default province order"
                  name="sort_province"
                  id="sort_province"
                  style="min-width: 105px"
                >
                  <option value="">Province</option>
                  <option value="isabela" {% if request.form.get('sort_province') == 'isabela' %}selected{% endif %}>Isabela</option>
                  <option value="cagayan" {% if request.form.get('sort_province') == 'cagayan' %}selected{% endif %}>Cagayan</option>
                  <option value="batanes" {% if request.form.get('sort_province') == 'batanes' %}selected{% endif %}>Batanes</option>
                  <option value="nueva_vizcaya" {% if request.form.get('sort_province') == 'nueva_vizcaya' %}selected{% endif %}>Nueva Vizcaya</option>
                  <option value="quirino" {% if request.form.get('sort_province') == 'quirino' %}selected{% endif %}>Quirino</option>
                </select>
              </th>
              <th scope="col">
                <!--Filter Exam Date-->
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control fw-semibold rounded"
                    placeholder="Exam date"
                    id="sort_date_exam"
                    name="sort_date_exam"
                    value="{% if request.form.get('sort_date_exam') %}{{ request.form.get('sort_date_exam') }}{% endif %}"
                  />
                </div>
              </th>
              <th scope="col">
                <!--Filter Exam Venue-->
                 <input
                    type="text"
                    class="form-control fw-semibold"
                    placeholder="Venue"
                    id="sort_venue"
                    name="sort_venue"
                    value="{% if request.form.get('sort_venue') %}{{ request.form.get('sort_venue') }}{% endif %}"
                  />
              </th>

              <th scope="col">
                <!--Filter Notified Date-->
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control fw-semibold rounded"
                    placeholder="Notified date"
                    id="sort_date_notified"
                    name="sort_date_notified"
                    value="{% if request.form.get('sort_date_notified') %}{{ request.form.get('sort_date_notified') }}{% endif %}"
                  />
                </div>
              </th>
              <th scope="col">
                <!--Filter Proctor-->
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control fw-semibold"
                    placeholder="Enter proctor"
                    id="sort_proctor"
                    name="sort_proctor"
                    value="{% if request.form.get('sort_proctor') %}{{ request.form.get('sort_proctor') }}{% endif %}"
                  />
                </div>
              </th>
              <th scope="col">
                <!--Filter Status-->
                <select
                  class="form-select fw-semibold"
                  name="sort_status"
                  id="sort_status"
                  style="min-width: 95px"
                >
                  <option value="">Status</option>
                  <option value="Passed" {% if request.form.get('sort_status') == 'Passed' %}selected{% endif %}>Passed</option>
                  <option value="Failed" {% if request.form.get('sort_status') == 'Failed' %}selected{% endif %}>Failed</option>
                </select>
              </th>
            </tr>
          </thead>
      </form>
    <tbody>
      {%for display in h_results%}
      <tr>
        {% include "handson_table_modals/display_modal.html" with context%}
        <td>
          <div class="button-modals">
            {% include "handson_table_modals/edit_modal.html" with context %}
            {%include "handson_table_modals/delete_modal.html" with context %}
          </div>
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.HandsonResults.applicant_id}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.first_name | capitalize}} {% if display.middle_name %}
          {{display.middle_name[0]| capitalize + "."}} {% endif %} {{display.last_name | capitalize}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.sex| capitalize}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.province| capitalize}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.HandsonResults.date_of_examination.strftime('%B %d, %Y') if
          display.HandsonResults.date_of_examination else ''}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.HandsonResults.venue_address}}{% if display.HandsonResults.venue_address %},{%endif%}
          {{display.HandsonResults.exam_venue| capitalize}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.HandsonResults.date_of_notification.strftime('%B %d, %Y') if
          display.HandsonResults.date_of_notification else ''}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
        >
          {{display.HandsonResults.proctor| title}}
        </td>
        <td
          data-bs-target="#showDetailsHandson_{{display.HandsonResults.applicant_id}}"
          data-bs-toggle="modal"
          class="{% if display.HandsonResults.status == 'Passed' %} table-success {% else %} table-danger {% endif %}"
        >
          {{display.HandsonResults.status}}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <p> <a href="{{ url_for('export.export_applicant', applicant_id=2) }}" class="btn btn-success">Export all hands-on</a>
</div>
<!--Pagination-->
<nav aria-label="Page navigation" class="pagination justify-content-center">
  <ul class="pagination my-3">
    {% if page > 1 %}
    <li class="page-item"><a class="page-link" href="{{ url_for('views.showHandsonTable', page=page-1) }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}

    {% for i in range(1, total_pages+1) %}
    {% if i == page %}
    <li class="page-item active"><a class="page-link" href="{{ url_for('views.showHandsonTable', page=i) }}">{{ i }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{{ url_for('views.showHandsonTable', page=i) }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page < total_pages %}
    <li class="page-item"><a class="page-link" href="{{ url_for('views.showHandsonTable', page=page+1) }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
    {% endif %}
  </ul>
</nav>

{%block customScripts%}
<script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/exam-datepicker.js')}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/notif-datepicker.js')}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/mobile-exam-datepicker.js')}}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/mobile-notif-datepicker.js')}}"
></script>

{%endblock%} {%endblock%}
