{% extends "base.html" %} {% block title %} History Table {% endblock %} {%
block stylesheet%}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/history-style.css')}}"
/>
{% endblock%} {%block content%}

<div class="row row-col-2 align-items-center pb-4">
  <div class="col-4">
    <form
      class="form-inline my-2 my-lg-0 d-flex gap-2 header-buttons align-items-center justify-content-start"
    >
      <input
        class="form-control mr-sm-2 search"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="history_table_input"
      />
      <button
        class="btn btn-outline-success my-sm-0"
        type="submit"
        id="history_table_input"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
          />
        </svg>
      </button>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Admin Name</th>
        <th scope="col">Action</th>
        <th scope="col">Date</th>
        <th scope="col">Time Modified</th>
      </tr>
    </thead>
    <tbody>
      <!--UPDATED ROW -->
      {% for entry in history_entries %}
      <tr>
          {% if 'Insert' in entry.action_done %}
          <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
            />
          </svg>
        </td>
        {% elif 'Delete' in entry.action_done%}
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
            />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
            />
          </svg>
        </td>
        {% else %}
        <td>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-plus-circle"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </td>
        {% endif %}
        <td scope="row">{{ entry.id }}</td>
        <td><b>Admin Mark {{ entry.admin_id }}</b></td>
        <td>
          <div>
            {{ entry.action_done }}
            for
            {{ entry.applicant_name }}
          </div>
        </td>
        <td>{{ entry.date_modified.strftime('%Y-%m-%d') }}</td>
        <td>{{ entry.date_modified.strftime('%I:%M %p') }}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

<!--Pagination-->
<nav aria-label="Page navigation" class="pagination justify-content-center">
  <ul class="pagination my-3">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

{%endblock%}
