<form action="{{url_for('filter.applyFilterDiagnostic')}}" method="POST" id="mobile-filters-diagnostic">
  <div class="row row-cols-3 px-2 mobile">
  <!--Sort ID -->
  <div class="col px-1 py-2">
    <!--Oldest ID Filter-->
    <select
      class="form-select fw-semibold"
      aria-label="Default ID"
      style="min-width: fit-content"
      name="sort_id"
      id="sort_id"
    >
      <option value="">Applicant ID</option>
      <option value="oldest_id" {% if request.form.get('sort_id') == 'oldest_id'
      %}selected{% endif %}>Oldest ID
    </select>
  </div>
  <!--Sort Name -->
  <div class="col px-1 py-2">
    <select
      class="form-select fw-semibold"
      aria-label="Default Name order"
      style="min-width: fit-content"
      name="sort_name"
      id="sort_name"
      >
      <option value="">Name</option>
      <option value="asc_name" {% if request.form.get('sort_name') == 'asc_name' %}selected{% endif %}>Sort A to Z</option>
      <option value="desc_name"  {% if request.form.get('sort_name') == 'desc_name' %}selected{% endif %}>Sort Z to A</option>
    </select>
  </div>
  <!--Sort Exam Venue -->
  <div class="col px-1 py-2">
    <select
      class="form-select fw-semibold"
      name="sort_venue"
      id="sort_venue"
      style="min-width: fit-content"
      >
      <option value="">Exam Venue</option>
      <option value="isabela" {% if request.form.get('sort_province') == 'isabela' %}selected{% endif %}>Isabela</option>
      <option value="cagayan" {% if request.form.get('sort_province') == 'cagayan' %}selected{% endif %}>Cagayan</option>
      <option value="batanes" {% if request.form.get('sort_province') == 'batanes' %}selected{% endif %}>Batanes</option>
      <option value="nueva vizcaya" {% if request.form.get('sort_province') == 'nueva vizcaya' %}selected{% endif %}>Nueva Vizcaya</option>
      <option value="quirino" {% if request.form.get('sort_province') == 'isabela' %}selected{% endif %}>Quirino</option>
      </select>
  </div>
</div>
<div class="row row-cols-2 px-2 mobile">
  <!--Filter Date of Examination-->
  <div class="col px-1">
    <input
      type="text"
      class="rounded border border-1 p-2"
      placeholder="Date of Exam"
      autocomplete="off"
      id="mobile_sort_date_exam"
      name="mobile_sort_date_exam"
      value="{% if request.form.get('sort_date_notified') %}{{ request.form.get('sort_date_exam') }}{% endif %}"
      style="max-width: 100%;"
    />
  </div>
  <!--Filter Date of Notification-->
  <div class="col px-1">
    <input
      type="text"
      class="rounded border border-1 p-2"
      placeholder="Date of Notification"
      autocomplete="off"
      id="mobile_sort_date_notified"
      name="mobile_sort_date_notified"
      value="{% if request.form.get('sort_date_notified') %}{{ request.form.get('sort_date_notified') }}{% endif %}"
      style="max-width: 100%;"
    />
  </div>
  <div class="col px-1 py-2">
     <button
      type="submit"
      form="filter-diagnostic-form"
      class="btn btn-primary float-left"
      >
      Apply Filters
    </button>
  </div>
</div>

</form>