{% extends "base.html" %} {% block title %} Table {% endblock %} {%block
content%} {%block stylesheet%}<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/table-style.css') }}"
/>
{%endblock%}

<!--Tab Headers-->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
            >Diagnostic Results</a
        >
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exam Results</a>
    </li>
</ul>
<!--Mobile Filters-->
<div
    class="d-flex justify-content-center align-items-center"
    style="min-width: fit-content"
    >
    <div class="dropdown-general my-3">
        <div class="dropup-center dropup d-none me-2">
            <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Filter
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-funnel-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"
                    />
                </svg>
            </button>
            <ul class="dropdown-menu">
                <!--Sort A to Z Filter-->
                <li>
                    <button
                        type="button"
                        class="btn btn-outline dropdown-item ms-2 mb-2"
                        id="filter_name"
                    >
                        Sort Name A to Z
                    </button>
                </li>
                <!--Sort Oldest ID Filter-->
                <li>
                    <button
                        type="button"
                        class="btn btn-outline dropdown-item ms-2 mb-2"
                        id=""
                    >
                        Oldest ID
                    </button>
                </li>

                <!--Passed status-->
                <li>
                    <div class="form-check">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="passed"
                            name="passed"
                        />
                        <label class="form-check-label" for="passed">
                            Passed
                        </label>
                    </div>
                </li>
                <!--Failed status-->
                <li>
                    <div class="form-check mt-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="failed"
                            name="failed"
                        />
                        <label class="form-check-label" for="failed">
                            Failed</label
                        >
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dropdown-exam my-3"">
        <div class="dropup-center dropup d-none exam_venue me-2">
            <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Exam Venue
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-newspaper"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"
                    />
                    <path
                        d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"
                    />
                </svg>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <p class="dropdown-item">CSU Gymnasium</p>
                </li>
                <li>
                    <p class="dropdown-item">Quirino Theater</p>
                </li>
                <li>
                    <p class="dropdown-item">Isabela Hall A</p>
                </li>
                <li>
                    <p class="dropdown-item">Nueva Vizcaya Hall B</p>
                </li>
                <li>
                    <p class="dropdown-item">Batanes Hall C</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-none date-filter me-2 my-3"">
        <!--Filter Date Range Exam-->
        <div class="date_exam_mobile">
            <input
                type="text"
                class="p-1"
                placeholder="Date of Exam"
                name="filter_date_exam_mobile"
                id="filter_date_exam_mobile"
            />
        </div>
    </div>
    <div class="d-none date-filter my-3">
        <!--Filter Date Notif Exam-->
        <div class="date_notif_mobile">
            <input
                type="text"
                class="p-1"
                placeholder="Date of Notif"
                name="filter_date_notif_mobile"
                id="filter_date_notif_mobile"
            />
        </div>
    </div>
</div>

<!--Main Table-->
<div class="table-responsive my-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <!--Oldest ID Filter-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="oldest_id"
                            id="oldest_id"
                        >
                            Sort Applicant ID
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Oldest ID
                                </p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <!--Sort Name Filter-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="filter_name"
                            id="filter_name"
                        >
                            Sort Name
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Sort Name A to Z
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Sort Name Z to A
                                </p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <!--Sort Sex-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="filter_sex"
                            id="filter_sex"
                        >
                            Sort Sex
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">Male</p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">Female</p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <!--Sort Province-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="filter_province"
                            id="filter_province"
                        >
                            Sort Province
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">Isabela</p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">Cagayan</p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">Batanes</p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Nueva Vizcaya
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">Quirino</p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">
                    <!--Filter Exam Date-->
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Exam date"
                            id="filter_date_exam"
                            name="filter_date_exam"
                        />
                    </div>
                </th>
                <th scope="col">
                    <!--Filter Exam Venue-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="filter_venue"
                            id="filter_venue"
                        >
                            Sort Exam Venue
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    CSU Gymnasium
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Quirino Theater
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Isabela Hall A
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Nueva Vizcaya Hall B
                                </p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">
                                    Batanes Hall C
                                </p>
                            </li>
                        </ul>
                    </div>
                </th>

                <th scope="col">
                    <!--Filter Notified Date-->
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Notified date"
                            id="filter_date_notif"
                            name="filter_date_notif"
                        />
                    </div>
                </th>
                <th scope="col">
                    <!--Filter Proctor-->
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Enter proctor"
                            id="filter_proctor"
                            name="filter_proctor"
                        />
                    </div>
                </th>
                <th scope="col">
                    <!--Filter Status-->
                    <div class="dropdown">
                        <button
                            class="btn btn-outline dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            name="filter_status"
                            id="filter_status"
                        >
                            Sort Status
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="dropdown-item fw-semibold">Passed</p>
                            </li>
                            <li>
                                <p class="dropdown-item fw-semibold">Failed</p>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>

            <tr>
                <th scope="col">Applicant ID</th>
                <th scope="col">Name</th>
                <th scope="col">Sex</th>
                <th scope="col">Province</th>
                <th scope="col">Date of Examination</th>
                <th scope="col">Exam Venue</th>
                <th scope="col">Date of Notification</th>
                <th scope="col">Proctor</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mark Angelo Manuel</td>
                <td>Male</td>
                <td>Isabela</td>
                <td>July 1, 2024</td>
                <td>CSU Gymnasium</td>
                <td>July 25, 2024</td>
                <td>Mr. Minatozaki</td>
                <td>Passed</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ken Robbie Galapate</td>
                <td>Male</td>
                <td>Isabela</td>
                <td>July 5, 2024</td>
                <td>CSU Gymnasium</td>
                <td>July 18, 2024</td>
                <td>Mr. Ian</td>
                <td>Failed</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Pagination Desktop-->
<nav aria-label="Page navigation" class="pagination">
    <ul class="pagination my-3 justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

{%block customScripts%}
<script
    src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
    crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/exam-datepicker.js')}}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/notif-datepicker.js')}}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/mobile-exam-datepicker.js')}}"
></script>
<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/mobile-notif-datepicker.js')}}"
></script>

{%endblock%} {%endblock%}
