<div
  class="modal fade"
  id="showDetailsHandson_{{display.HandsonResults.applicant_id}}"
  tabindex="-1"
  aria-labelledby="showDetailsHandsonLabel_{{display.HandsonResults.applicant_id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          id="showDetailsHandson_{{display.HandsonResults.applicant_id}}"
        >
          Applicant Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row row-col-auto">
          <!--Personal Info-->
          <div class="col-6 personal-info">
            <h5 class="py-2">Personal Information</h5>
            <p>
              <b class="me-2">Applicant ID:</b>
              {{display.HandsonResults.applicant_id}}
            </p>
            <p>
              <b class="me-2">Name:</b> {{display.first_name| capitalize}}
              {{display.middle_name| capitalize}} {{display.last_name|
              capitalize}}
            </p>
            <p><b class="me-2">Sex:</b> {{display.sex| capitalize}}</p>
            <p>
              <b class="me-2">Province:</b> {{display.province| capitalize}}
            </p>
            <p>
              <b class="me-2">Contact Number:</b> {{display.contact_number}}
            </p>
            <p><b class="me-2">Email Address:</b> {{display.email_address}}</p>
            <h5 class="py-2">Score Summary</h5>
            <p>
              <b class="me-2">Hands-on Score:</b>
              {{display.HandsonResults.handson_score}}
            </p>
          </div>
          <!--Examination Details-->
          <div class="col-6 examination-details">
            <h5 class="py-2">Examination Details</h5>
            <p>
              <b class="me-2">Date of Examination:</b> {{
              display.HandsonResults.date_of_examination.strftime('%B %d, %Y')
              if display.HandsonResults.date_of_examination else 'N/A' }}
            </p>
            <p>
              <b class="me-2">Date of Notification:</b> {{
              display.HandsonResults.date_of_notification.strftime('%B %d, %Y')
              if display.HandsonResults.date_of_notification else 'N/A' }}
            </p>
            <p>
              <b class="me-2">Exam Venue:</b>
              {% if display.HandsonResults.venue_address %} {{
              display.HandsonResults.venue_address }}, {% endif %} {{
              display.HandsonResults.exam_venue | default('') | capitalize }}
            </p>
            <p>
              <b class="me-2">Proctor:</b> {{display.HandsonResults.proctor}}
            </p>
            <p><b class="me-2">Status:</b> {{display.HandsonResults.status}}</p>
            <p>
              {% if display.applicant_form %}
              <a
                href="{{ url_for('update.view_attachment', applicant_id=display.HandsonResults.applicant_id) }}"
                target="_blank"
                class="btn btn-outline-primary"
                >View Applicant Attachment</a
              >
              {% endif %}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
