<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<!-- Handson Edit Modal -->
<button
  type="button"
  class="btn btn-secondary"
  data-bs-target="#handson_edit_{{display.HandsonResults.applicant_id}}"
  data-bs-toggle="modal"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-pencil-square"
    viewBox="0 0 16 16"
  >
    <path
      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
    />
    <path
      fill-rule="evenodd"
      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
    />
  </svg>
</button>

<!-- Edit Modal -->
<div
  class="modal fade"
  id="handson_edit_{{display.HandsonResults.applicant_id}}"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="handsonEditModalLabel"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgb(100, 100, 102)">
        
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" x-data="{ part_one: '{{display.part_one_score}}', part_two: '{{display.part_two_score}}', part_three:'{{display.part_three_score}}' }">
        <form action="{{url_for('update.updateValues_handson',applicant_id=display.HandsonResults.applicant_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="row row-col-auto">
            <div class="col-12">
              <h5 class="py-3">Matching Applicant ID</h5>
              <div class="row applicant_id">
                <div class="mb-3">
                  <label for="applicant_id" class="form-label"
                    >Applicant ID</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="applicant_id"
                    name="applicant_id"
                    aria-describedby="firstNameHelp"
                    value="{{display.HandsonResults.applicant_id}}"
                    autocomplete="off"
                    required
                    readonly
                  />
                </div>
              </div>
              <h5 class="py-3">Examination Details</h5>
              <div class="row date_exam">
                <div class="mb-3">
                  <label for="date_exam" class="form-label"
                    >Date of Examination</label
                  >
                  <input
                    type="text"
                    class="form-control edit-date-exam"
                    id="date_exam"
                    name="date_exam"
                    aria-describedby="dateExamHelp"
                    value="{{display.HandsonResults.date_of_examination.strftime('%B %d, %Y')}}"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <div class="row date_notified">
                <div class="mb-3">
                  <label for="date_notified" class="form-label"
                    >Date of Notification</label
                  >
                  <input
                    type="text"
                    class="form-control edit-date-notified"
                    id="date_notified"
                    name="date_notified"
                    value="{{display.HandsonResults.date_of_notification.strftime('%B %d, %Y')}}"
                    autocomplete="off"
                    aria-describedby="dateNotifiedHelp"
                    required
                  />
                </div>
              </div>
             <div class="row venue_address py-2">
                <div class="">
                  <div class="input-group mb-3 venue_address">
                    <label class="input-group-text" for="venue_address"
                      >Venue Address (Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="venue_address"
                      name="venue_address"
                      aria-describedby="venueAddressHelp"
                      autocomplete="off"
                      value="{{display.HandsonResults.venue_address}}"
                    />
                  </div>
                </div>
              </div>
              <div class="row exam_venue py-2">
                <div class="">
                  <div class="input-group mb-3 exam_venue">
                    <label class="input-group-text" for="exam_venue"
                      >Exam Venue</label
                    >
                    <select
                      class="form-select"
                      id="exam_venue"
                      name="exam_venue"
                      autocomplete="off"
                      required
                    >
                      <option selected></option>
                      <option value="isabela" {% if display.HandsonResults.exam_venue == 'isabela' %} selected {% endif %}>Isabela</option>
                      <option value="cagayan" {% if display.HandsonResults.exam_venue == 'cagayan' %} selected {% endif %}>Cagayan</option>
                      <option value="batanes" {% if display.HandsonResults.exam_venue == 'batanes' %} selected {% endif %}>Batanes</option>
                      <option value="nueva vizcaya" {% if display.HandsonResults.exam_venue == 'nueva vizcaya' %} selected {% endif %}>Nueva Vizcaya</option>
                      <option value="quirino" {% if display.HandsonResults.exam_venue == 'quirino' %} selected {% endif %}>Quirino</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row proctor">
                <div class="mb-3">
                  <label for="proctor" class="form-label">Proctor</label>
                  <input
                    type="text"
                    class="form-control"
                    id="proctor"
                    name="proctor"
                    value="{{display.HandsonResults.proctor}}"
                    aria-describedby="proctorHelp"
                    autocomplete="off"
                    required
                  />
                </div>
              </div>
              <div class="row status py-2">
                <div class="">
                  <div class="input-group mb-3 status">
                    <label class="input-group-text" for="status">Status</label>
                    <select
                      class="form-select"
                      id="status"
                      name="status"
                      autocomplete="off"
                      required
                    >
                      <option selected></option>
                      <option value="Passed" {% if display.HandsonResults.status == 'Passed' %} selected {%endif%}>Passed</option>
                      <option value="Failed" {% if display.HandsonResults.status == 'Failed' %} selected {%endif%}>Failed</option>
                    </select>
                  </div>
                </div>
              </div>
              <h5 class="py-3">Score Details</h5>
              <div class="row handson_score">
                <div class="mb-3">
                  <label
                      for="part_one_score"
                      class="form-label my-1"
                      >Part I Score</label
                  >
                  <input
                      type="number"
                      class="form-control my-1"
                      id="part_one_score"
                      name="part_one_score"
                      x-model.number="part_one"
                      autocomplete="off"
                      aria-describedby="partOneScoreHelp"
                      value="{{display.part_one_score}}"
                  />

                  <label
                      for="part_two_score"
                      class="form-label my-1"
                      >Part II Score</label
                  >
                  <input
                      type="number"
                      class="form-control my-1"
                      id="part_two_score"
                      name="part_two_score"
                      x-model.number="part_two"
                      autocomplete="off"
                      aria-describedby="partTwoScoreHelp"
                      value="{{display.part_two_score}}"
                  />

                  <label
                      for="part_three_score"
                      class="form-label my-1"
                      >Part III Score</label
                  >
                  <input
                      type="number"
                      class="form-control my-1"
                      id="part_three_score"
                      name="part_three_score"
                      x-model.number="part_three"
                      aria-describedby="partThreeScoreHelp"
                      value="{{display.part_three_score}}"
                      autocomplete="off"
                  />

                  <label for="total_score" class="form-label my-1"
                      >Diagnostic Score</label
                  >
                  <input
                      type="text"
                      class="form-control my-1"
                      id="total_score"
                      name="total_score"
                      x-bind:value="Number(part_one) + Number(part_two) + Number(part_three)"
                      aria-describedby="totalScoreHelp"
                      readonly
                  />

                  <label for="handson_score" class="form-label my-1"
                    >Hands-on Score</label
                  >
                  <input
                    type="number"
                    class="form-control my-1"
                    id="handson_score"
                    name="handson_score"
                    value="{{display.HandsonResults.handson_score}}"
                    aria-describedby="handsOnScoreHelp"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
<script
    type="text/javascript"
    src="{{url_for('static',filename='js/diagnostic-edit_exam.js')}}"
></script>
<script
    type="text/javascript"
    src="{{url_for('static',filename='js/diagnostic-edit_notified.js')}}"
></script>
